@import "../_varaiables.scss";

.container-tabs {
  padding: 2.5rem;
  padding-top: 2rem;
  overflow-y: auto;
  overflow-x: hidden;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    position: relative;
    background: $color-background;
    outline: none;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    font-size: $font-size-H5;
    padding: 0.6rem;
    transition: 0.2s;
  }

  select:hover {
    border: 2px solid $color-item-container-hover;
    border-radius: 0.6rem;
  }

  .slider {
    padding-left: 0rem;
    -webkit-appearance: none;
    width: 100%;
    height: 1rem;
    border-radius: 5px;
    background: $color-slider-background;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: $color-button;

    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: none;
    background: $color-button;
    cursor: pointer;
  }

  button {
    padding: 0rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;

    border: 1.5px solid $color-item-button;
    color: $color-item-button;

    * {
      margin-top: 0.6rem;
      margin-bottom: 0.4rem;
      color: $color-item-button;
    }

    transition: 0.2s;
  }

  button:hover {
    background: $color-item-button;
    color: $color-container;
    * {
      color: $color-container;
    }
  }

  * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .header {
    .title {
      font-size: $font-size-H4;
      font-weight: 500;
    }

    .description {
      padding-top: 1rem;
      font-size: $font-size-H5;
      margin-bottom: 2rem;
    }
    border-bottom: 1.5px solid $color-border;
  }

  .content {
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1.5px solid $color-border;
    font-weight: 500;

    .title {
      margin-bottom: 1rem;
    }
  }
}

.content {
  .slider-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      padding-bottom: 0.2rem;
      padding-right: 0.4rem;
      font-size: $font-size-H5;
      font-weight: 00;
    }

    .slider {
      width: 85%;
    }
  }

  .shape-container {
    display: flex;
    flex-wrap: wrap;
    height: 21rem;
    overflow-y: scroll;
    background: $color-background;
    border-radius: 0.6rem;

    .img-container {
      display: flex;
      position: relative;
      background: $color-container;
      top: 0;
      left: 0;
      margin: 1rem;
      padding: 0.8rem;
      width: 22%;

      img {
        max-width: 100%;
        align-self: flex-start;
        filter: invert(65%) sepia(20%) saturate(4454%) hue-rotate(198deg)
          brightness(102%) contrast(98%);
      }
      box-shadow: 2px 2px 8px 1px #dce0ee;
      border-radius: 0.6rem;
      transition: 0.2s ease;
    }

    .img-container:hover {
      top: -2.8px;
      left: -1px;
      box-shadow: 3px 3px 10px 1px #dce0ee;
      cursor: pointer;
      background: $color-item-container-hover;
    }
  }

  .clipart-search {
    width: 100%;
    display: flex;

    input {
      background: $color-background;
      border: 2px solid $color-background;
      outline: none;
      width: 100%;
      transition: 0.2s;
      font-size: $font-size-H5;
      padding-right: 6rem;
    }

    input:hover {
      border: 2px solid $color-item-button;
      color: $color-item-button;
    }

    input:focus {
      border: 2px solid $color-item-button;
      color: $color-item-button;
    }

    button {
      border: 1.5px solid $color-item-button;
      background: $color-container;
      position: absolute;
      right: 10%;
    }

    button:hover {
      border: 1.5px solid $color-item-button;
      background: $color-item-button;
      color: $color-container;
    }
  }

  .clipart-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 45vh;
    min-height: 25rem;

    background: $color-background;
    border-radius: 0.6rem;
    width: 100%;
    overflow-y: scroll;
    justify-content: center;

    .img-container {
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      margin: 1rem;

      width: 10rem;
      height: 10rem;

      justify-content: center;
      align-items: center;

      background: $color-container;
      opacity: 0.8;

      border-radius: 0.6rem;
      box-shadow: 2px 2px 6px 3px #dce0ee;
      transition: 0.2s ease;

      img {
        max-width: 80%;
        max-height: 80%;
      }
    }

    .img-container:hover {
      top: -3px;
      left: -1px;
      box-shadow: 4px 4px 6px 4px #dce0ee;
      cursor: pointer;
      background: $color-slider-fill;
    }
  }

  .layout-container {
    display: flex;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    button {
      margin: 0rem;
      height: 5rem;
    }
  }
}

.contextMenu {
  position: fixed;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: 1;

  background: $color-container;
  box-shadow: 0px 2px 10px #999999;

  border-radius: 0.5rem;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .contextMenu-option {
    padding: 10px 60px 10px 13px;
    min-width: 180px;
    cursor: default;
    font-size: $font-size-H5;
    font-weight: 500;

    &:hover {
      background: $color-editor-tab-hover;
      color: white;
    }

    &:active {
      color: #e9e9e9;
      background: $color-editor-tab-hover;
    }

    &__disabled {
      color: #999999;
      pointer-events: none;
    }
  }
  .contextMenu-sperator {
    width: 100%;
    height: px;
    background: #cccccc;
    margin: 0 0 0 0;
  }
}

.color-picker-box:hover {
  background: $color-slider-fill !important;
  box-shadow: 0 0 0 1px $color-slider-fill !important;
  opacity: 0.9;

  transition: 0.2s;
}

.clipart-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clipart-noresult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    color: $color-item-button;
    opacity: 0.95;
  }

  :nth-child(1) {
    font-size: 8rem;
  }
  :nth-child(2) {
    font-size: $font-size-H4;
  }
  padding-bottom: 1.5rem;
}

.clipart-colors {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin-right: 1rem;
    margin-bottom: 0.8rem;
  }
}
