* {
  box-sizing: border-box;
  list-style: none;
  /* border: 1px solid green; */
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  overflow-x: hidden;
  font-size: 1.6rem;
  /* 1rem = 10px */

  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

input {
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  width: 10px;
  right: 10px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  outline: none;
}
