// TODO: 변수 설정

// Color
$color-nav: #4665d9;
$color-background: #eef0f6;
$color-container: #ffffff;
$color-cotainer-uncommon: #363c4d;
$color-item-container: #f8f9fd;
$color-item-container-hover: #b4c2f1;
$color-editor-tab: #ffffff;
$color-editor-tab-hover: #596bd8;
$color-button: #3457dc;

$color-slider-background: #eef0f6;
$color-slider-fill: #859ffd;

$color-border: #dee0e6;
$color-border-landing: #dedede;

$color-item-hightlight: #e4f9fe;
$color-item-highlight: #29b8e5;

$color-item-input: #ffffff;

$color-item-button: #596bd8;
$color-item-button-text: #ffffff;

$color-modal-container-1: #e5eef3;

$color-font-main: #2d313c;
$color-font-sub: #72757b;
$color-font-editor-tab: #727889;
$color-font-editor-tab-hover: #ffffff;

// Fontsize
$font-size-H1: 3.6rem;
$font-size-H2: 3rem;
$font-size-H3: 2.4rem;
$font-size-H4: 1.8rem;
$font-size-H5: 1.4rem;
$font-size-H6: 1.2rem;
$font-size-H7: 1rem;
