@import "./_varaiables.scss";

#container-maker {
  #section-creator {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    height: 100%;
    overflow-y: auto;

    padding-bottom: 12rem;
  }

  #footer-creator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: khaki;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1.5rem;

    button {
      font-size: 2rem;
      padding-left: 4rem;
      padding-right: 4rem;
      margin-left: 3rem;
      margin-right: 3rem;

      border-radius: 3rem;
    }
  }
}

#section-creator {
  .body-header {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    height: 20rem;
    .title {
      text-align: center;
      font-size: 5rem;
      font-weight: 700;
    }
    .subtitle {
      padding-top: 1.5rem;
      text-align: center;
      font-size: 2rem;
    }
  }
}

#section-creator {
  text-align: center;
  .body-item-outer-container {
    .body-item-container {
      display: inline-block;
      .item {
        display: inline-block;
        width: 32vw;
        height: 21.3vw;
        margin: 4rem;
        background-color: lightseagreen;
        background-size: cover;
      }

      .item:hover {
        cursor: pointer;
      }

      .item-position {
        display: inline-block;
        width: 21.3vw;
        height: 21.3vw;
        margin: 4rem;
        background-color: lightseagreen;
        background-size: cover;
      }

      .item-position:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      .item-position-margin {
        display: inline-block;
        border-radius: 3rem;
        transition: 0.5s ease;
      }

      .item-position-margin:hover {
        background-color: rgb(233, 233, 233);
      }

      .item-Shape {
        display: inline-block;
        width: 18vw;
        height: 18vw;
        margin: 2rem;
        border: solid black;
        border-radius: 7vw;
        background-size: cover;
      }
      .item-Shape:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
      #sample1 {
        background-image: url(../images/test/sample1.png);
        background-position: -3vw;
      }
      #sample2 {
        background-image: url(../images/test/sample2.png);
        background-position: -1.3vw;
      }
      #sample3 {
        background-image: url(../images/test/sample3.png);
        background-position: -0.2vw;
      }
      #sample4 {
        background-image: url(../images/test/sample4.png);
        background-position: -1vw;
      }
      #sample5 {
        background-image: url(../images/test/sample5.png);
        background-position: -2vw;
      }
      #sample6 {
        background-image: url(../images/test/sample6.png);
        background-position: -0.6vw;
      }
      #sample7 {
        background-image: url(../images/test/sample7.png);
        background-position: -1.4vw;
      }
      #sample8 {
        background-image: url(../images/test/test1.png);
        background-position: -2.7vw;
      }
      .item-color {
        width: 9vw;
        height: 35vw;
        padding: 1rem;
        display: table-cell;
        vertical-align: middle;
        transition: 0.5s ease;
        border-radius: 5px;
      }

      .item-color:hover {
        background-color: rgb(233, 233, 233);
      }

      .item-color-inner {
        display: inline-block;
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 100%;
      }

      .item-color-inner:hover {
        cursor: pointer;
        border: solid 2.5px;
      }

      .item-sample {
        display: inline-block;
        width: 23vw;
        height: 20vw;
        margin: 1rem;
        background-size: cover;
      }

      .item-sample:hover {
        cursor: pointer;
        border: solid black;
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 768px,) {
  // * MOBILE: max-width: 768px;
  #section-creator {
    .body-header {
      display: flex;
      flex-direction: column;
      margin-top: 8rem;
      height: 20rem;
      .title {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
      }
      .subtitle {
        padding-top: 1rem;
        text-align: center;
        font-size: 2rem;
      }
    }
  }

  .body-item-outer-container {
    .body-item-container {
      .item {
        width: 90vw !important;
        height: 60vw !important;
        margin-left: auto !important;
        margin-right: auto !important;
      }

      .item-position {
        width: 20vw !important;
        height: 20vw !important;
        margin-left: 2rem !important;
        margin-right: 2rem !important;
      }
      .item-Shape {
        width: 18vw !important;
        height: 16vw !important;
        border-radius: 4vmin !important;
      }
      #sample1 {
        background-position: -1.5vw !important;
      }
      #sample2 {
        background-position: 0.1px !important;
      }
      #sample3 {
        background-position: 0.1px !important;
      }
      #sample4 {
        background-position: 0.1px !important;
      }
      #sample5 {
        background-position: -1vw !important;
      }
      #sample6 {
        background-position: 0.1px !important;
      }
      #sample7 {
        background-position: 0.1px !important;
      }
      #sample8 {
        background-position: -1vw !important;
        background-image: url(../images/test/test1.png) !important;
        background-size: 150px !important;
        background-repeat: no-repeat !important;
      }

      .item-color {
        width: 100vw !important;
        height: 16vw !important  ;
        padding: 1rem !important;
        display: table-cell !important;
        vertical-align: middle !important;
        transition: 0.5s ease !important;
        border-radius: 5px !important;
        float: left !important;
      }

      .item-color-inner {
        display: inline-block;
        width: 12vw !important;
        height: 12vw !important;
        border-radius: 100% !important;
        margin: 0.5rem !important;
      }

      .item-sample {
        display: inline-block;
        width: 40vw !important;
        height: 30vw !important;
        margin: 0.5rem !important;
        background-size: cover;
      }
    }
  }

  #footer-creator {
    justify-content: space-around !important;
    button {
      font-size: 1.5rem !important;
      padding: 0rem !important;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      margin: 0rem !important;
    }
  }
}
