#container-maker > #section #nav-editor {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  padding-right: 3rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-maker > #section #nav-editor button {
  font-size: 2rem;
  margin-left: 1rem;
}

#container-maker > #section #container-editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

#container-editor .container-canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
  height: 100%;
  width: 100%;
  z-index: -1001;
}

#container-editor .container-canvas .canvas {
  width: 60rem;
  height: 60rem;
  background-color: white;
  z-index: -1000;
}

#container-editor .container-tabs {
  width: 45rem;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container-editor .container-tab-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10rem;
}

#container-editor .container-tab-buttons button {
  height: 8rem;
}

@media (max-width: 768px) {
  #container-maker {
    padding-bottom: 0rem;
  }
  #nav-editor {
    background-color: red;
    width: 100%;
    height: 4rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
    padding: 0rem !important;
  }
  #nav-editor button {
    padding: 0.5rem !important;
    margin: 0rem !important;
    font-size: 1.5rem !important;
  }
  #container-editor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  #container-editor .container-canvas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: grey;
    height: 50%;
  }
  #container-editor .container-canvas .canvas {
    width: 90%;
    height: 90%;
    background-color: white;
  }
  #container-editor .container-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50%;
    width: 100%;
    overflow-y: scroll;
  }
  #container-editor .container-tab-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 5rem;
  }
  #container-editor .container-tab-buttons button {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=Editor.css.map */