@import "./_varaiables.scss";

#container-maker > #section {
  #nav-editor {
    width: 100%;
    height: 5rem;
    display: flex;

    padding: 1rem;
    padding-right: 0rem;

    margin-top: 2rem;

    justify-content: flex-end;
    align-items: center;

    border-bottom: 1.5px solid $color-border;
    background: $color-container;
    z-index: 0;

    button {
      margin: 0rem;
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: center;

      font-size: 1.6rem;
      font-weight: 400;

      border-left: $color-border 1px solid;
      border-radius: 0rem;
      background-color: transparent;
      color: $color-font-editor-tab;
      align-items: center;
      transition: 0.3s;

      * {
        color: $color-font-editor-tab;
      }
    }

    :nth-child(4) {
      border-right: $color-border 1px solid;
    }

    button:hover {
      background: $color-slider-fill;
      color: $color-font-editor-tab-hover;

      * {
        color: $color-font-editor-tab-hover;
      }
    }
  }

  #container-editor {
    display: flex;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
  }
}

#container-editor {
  .container-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    height: 100%;
    width: 100%;

    * {
      box-shadow: 0px 2px 10px -1px #dce0ee;
    }
  }
  .container-tabs {
    position: relative;
    background: $color-container;
    width: 40rem;
    height: 100%;

    border-left: $color-border 1.5px solid;
    // box-shadow: 0px 2px 10px -2px #ccc;
  }
  .container-tab-buttons {
    position: relative;
    z-index: 2;
    background: $color-editor-tab;
    display: flex;
    flex-direction: column;
    width: 8rem;
    min-width: 8rem;
    border-left: $color-border 1.5px solid;

    * {
      color: $color-font-editor-tab;
      font-size: $font-size-H3;
      margin-bottom: 0.6rem;
    }

    button {
      height: 9rem;
      background: transparent;
      color: $color-font-editor-tab;
      font-size: $font-size-H5;
      font-weight: 600;

      border-radius: 0rem;
      margin: 0rem;

      transition: 0.2s;

      border-bottom: $color-border 1.5px solid;
    }

    button:hover {
      background: $color-editor-tab-hover;
      color: $color-font-editor-tab-hover;

      * {
        color: $color-font-editor-tab-hover;
      }
    }

    .selected {
      border: none;
      border-bottom: $color-border 1.5px solid;
      background: $color-editor-tab-hover;
      color: $color-editor-tab;

      * {
        color: $color-font-editor-tab-hover;
      }
    }

    .selected:hover {
      background: $color-editor-tab-hover;
      color: $color-editor-tab;

      * {
        color: $color-font-editor-tab-hover;
      }
    }
  }
}

@media (max-width: 768px) {
  // * MOBILE: max-width: 768px;
  #container-maker {
    padding-bottom: 0rem;
  }
  #nav-editor {
    background-color: red;
    width: 100%;
    height: 4rem !important;
    display: flex;
    justify-content: space-evenly !important;

    padding: 0rem !important;

    button {
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 100%;
      font-size: 6px !important;

      * {
        font-size: 12px !important;
      }
    }

    :nth-child(4) {
      border-right: transparent 1px solid !important;
    }

    :nth-child(1) {
      border-left: transparent 1px solid !important;
    }
  }

  #container-editor {
    flex-direction: column;
    overflow: hidden;

    .container-canvas {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 60%;
    }
    .container-tabs {
      flex-direction: column;
      height: 45%;
      width: 100%;
      border-top: $color-border 1.5px solid;
      border-left: 0px;
    }

    .container-tab-buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 7rem;

      border-left: 0px;
      border-top: $color-border 1.5px solid;

      * {
        color: $color-font-editor-tab;
        font-size: $font-size-H3;
      }

      button {
        width: 100%;
        flex: 1;
        font-size: 1.1rem !important;
        padding-bottom: 2.2rem;
        border-left: $color-border 1.5px solid;
      }

      .selected {
        border: transparent;
        border-left: $color-border 1.5px solid;
      }

      :nth-child(1) {
        border-left: 0px;
      }
    }
  }
}
