@import "./_varaiables.scss";
//폰트 임시용
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
//
#container-mainpage {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 70rem;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: keep-all;
  #section2,
  #section3,
  #section4,
  #Footer {
    border-top: 1px solid $color-border-landing;
  }
}

#container-mainpage > #section1 {
  background: linear-gradient(
    160deg,
    rgba(70, 101, 217, 1) 40%,
    rgba(38, 65, 202, 1) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 10rem;
  padding-right: 10rem;

  .container2 {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    min-width: 45rem;
    width: 100%;

    margin-left: 10rem;
    margin-right: -5rem;

    margin-bottom: 5vh;
    z-index: 2;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .container {
    display: flex;
    flex-direction: column;
    max-width: 65rem;
    margin-bottom: 15vh;
    z-index: 2;

    :nth-child(2) {
      // TODO 임시용입니다.
      background-color: transparent;
    }

    .title {
      font-size: 6.5rem;
      font-weight: 700;
      font-family: "NanumBarunGothic";
      color: $color-background;
      margin-bottom: 2rem;
      letter-spacing: 0.2rem;
    }

    .subtitle {
      font-size: $font-size-H3;
      font-weight: 100;
      font-family: "NanumSquareRound";
      color: $color-background;
      margin-bottom: 4rem;
      letter-spacing: 0.05rem;
      line-height: 3.4rem;
    }

    .landing1-button-container {
      display: flex;
      position: relative;
      align-items: center;
      width: 100%;
      height: 6rem;
      overflow: hidden;
      background: transparent;

      input {
        font-family: "NanumBarunGothic";
        font-size: $font-size-H4;
        color: $color-button;

        width: 100%;
        height: 5.5rem;
        border-radius: 0.6rem;

        margin-right: 15rem;
        padding-left: 3rem;
        padding-right: 3rem;
        background: $color-background;
        outline: none;
        z-index: 3;
        box-shadow: -1rem 0rem 3rem -1rem #223ab1;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;

        transition: 0.1s;
      }

      button {
        font-family: "NanumBarunGothic";
        margin: 0rem;
        position: absolute;
        right: 0%;
        height: 5.5rem;
        width: 15rem;
        background: rgb(161, 118, 255);

        border-radius: 0.6rem;
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
        box-shadow: 0rem 0rem 3rem -1rem #223ab1;

        letter-spacing: 0.1rem;
        z-index: 1;
        transition: 0.3s ease;
      }

      button:hover {
        background: rgb(215, 134, 223);
      }
    }

    .btn-search-template {
      font-family: "NanumBarunGothic";
      margin: 0rem;
      height: 5.5rem;
      border-radius: 0.6rem;
      width: 100%;
      margin-top: 2rem;
      background: #23273b;
      background: rgb(161, 118, 255);

      color: $color-background;
      letter-spacing: 0.08rem;

      font-size: $font-size-H4;
      z-index: 2;

      box-shadow: 0rem 0rem 3rem -1rem #223ab1;
      transition: 0.3s ease;

      &:hover {
        background: rgb(215, 134, 223);
      }
    }
  }
  .container3 {
    width: 65rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(45deg);
    z-index: 1;
    bottom: -10rem;
    left: -40rem;

    &:before {
      width: 100%;
      height: 100%;
      padding-bottom: 100%;
      background: linear-gradient(
        90deg,
        rgba(67, 94, 212, 1) 0%,
        rgba(52, 78, 207, 1) 100%
      );
      content: "";
      position: absolute;
    }
  }

  .container4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60rem;
    right: -10vw;

    transform: rotate(58deg);

    &:before {
      width: 80rem;
      height: 160rem;
      padding-bottom: 100%;
      border-radius: 30rem;

      background: linear-gradient(
        180deg,
        rgba(65, 89, 202, 1) 9%,
        rgba(52, 78, 207, 1) 60%
      );

      background: #1d243a;

      opacity: 0.7;

      content: "";
      position: absolute;
    }
  }
}

@media (max-width: 768px,) {
  // * MOBILE: max-width: 768px;
  #section1 {
    flex-direction: column;

    height: auto !important;
  }
  #container-mainpage {
    min-height: auto !important;
  }
  #section1 .container2 {
    margin: 0rem !important;
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
    width: 78vw !important;
    min-width: auto !important;
  }

  #container-mainpage > #section1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .container {
      height: 80%;
      width: 100%;
      margin: 0;
      margin-top: 7rem;

      .title {
        font-size: 3rem;
        text-align: center;
        line-height: 4.5rem;
      }

      .subtitle {
        font-size: 1.8rem;
        line-height: 2.8rem;
        text-align: center;
      }

      .landing1-button-container {
        input {
          border-top-left-radius: 0.6rem;
          border-bottom-left-radius: 0.6rem;
          height: 5rem;
          margin-right: 10rem;
          font-size: $font-size-H4;
        }

        button {
          height: 5rem;
          width: 10rem;
          font-size: $font-size-H4;
          border-top-right-radius: 0.6rem;
          border-bottom-right-radius: 0.6rem;
        }
      }

      .btn-search-template {
        margin-top: 1rem;
        height: 5rem;
        font-size: $font-size-H4;
        border-radius: 0.6rem;
        opacity: 1;
      }
    }

    .container3 {
      width: 65vw;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      transform: rotate(45deg);
      z-index: 1;
      bottom: -10vw;
      left: -40vw;

      &:before {
        width: 100%;
        height: 100%;
        padding-bottom: 100%;
        background: linear-gradient(
          90deg,
          rgba(67, 94, 212, 1) 0%,
          rgba(52, 78, 207, 1) 100%
        );
        content: "";
        position: absolute;
      }
    }

    .container4 {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 60rem;
      right: -10rem;

      transform: rotate(55deg);

      &:before {
        width: 80rem;
        height: 160rem;
        padding-bottom: 100%;
        border-radius: 15rem;

        background: linear-gradient(
          180deg,
          rgba(65, 89, 202, 1) 9%,
          rgba(52, 78, 207, 1) 60%
        );

        // opacity: 0.8;

        content: "";
        position: absolute;
      }
    }
  }
}

// TODO: Main Page Part 2

#container-mainpage > #section2 {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f7;

  width: 100%;
  height: 100%;
  display: flex;

  padding-left: 10rem;
  padding-right: 10rem;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    height: 100%;
    justify-content: center;

    .label {
      width: auto;
      height: auto;
      span {
        background: #ece9ff;
        text-align: center;
        border-radius: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1.2rem;
        padding-bottom: 0.9rem;

        color: #725fd8;
        font-size: 1.4rem;
        font-family: "NanumBarunGothic";
        font-weight: 800;
        letter-spacing: 0.05rem;
      }
      margin-bottom: 1.5rem;
    }

    .title {
      font-size: 4.3rem;
      font-weight: 800;
      letter-spacing: 0.2rem;
      line-height: 6.5rem;
      font-family: "NanumBarunGothic";
      color: #3f3c4e;

      margin-bottom: 2.5rem;
    }
    .subtitle {
      font-size: 1.8rem;
      font-family: NanumSquareRound;
      letter-spacing: 0.05rem;
      line-height: 3rem;
      color: #8ca0b7;
    }
  }
  .container2 {
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
    padding: 0.4rem;
    width: 100%;
    min-width: 50rem;
    border-radius: 1rem;
    background: #ececec;
    z-index: 1;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.8rem;
      border: 1px solid $color-border;
    }
  }

  .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    min-width: 60rem;
    width: 100vw;

    margin-left: -5rem;
    z-index: 1;

    img {
      margin-right: -10rem;
      width: 100%;
    }

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
@media (max-width: 768px,) {
  // * MOBILE: max-width: 768px;
  #container-mainpage > #section2 {
    height: auto;
    flex-direction: column;
    padding: 0rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;

    .container {
      height: auto;
      text-align: center;

      .title {
        font-size: 2.8rem;
        line-height: 4.2rem;
        margin-bottom: 1.5rem;
      }

      .subtitle {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }

    .container2 {
      display: none;
      height: 5rem;
      max-width: 98vw;
      min-width: 98vw;
      width: 98vw;
      margin: 0rem;
      margin-top: 3rem;

      img {
        margin: 0rem;
      }
    }

    .container3 {
      max-width: 98vw;
      min-width: 98vw;
      width: 98vw;
      margin: 0rem;
      margin-top: 3rem;

      img {
        margin: 0rem;
      }
    }
  }
}

// TODO: Main Page Part3

#container-mainpage > #section3 {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;

  background-color: $color-background;
  background: #f8fcff;

  width: 100%;
  height: auto;

  padding-left: 10rem;
  padding-right: 10rem;

  padding-top: 10rem;
  padding-bottom: 10rem;

  #section-sub-2 {
    display: flex;
    justify-content: center;
    width: 100%;

    .container3 {
      display: flex;
      position: relative;
      height: 23rem;
      max-width: 120rem;
      margin-top: 7rem;
      background: $color-container;
      border: 1.5px solid $color-border-landing;
      border-radius: 0.6rem;

      overflow: hidden;

      width: 100%;
      .tab {
        display: flex;
        align-items: center;
        background: #a176fd;
        color: $color-container;
        writing-mode: vertical-rl;

        font-family: "NanumSquareRound";
        font-size: $font-size-H4;
        font-weight: 800;

        padding-top: 1.5rem;

        height: 100%;
        width: 5rem;
        min-width: 5rem;

        border-top-left-radius: 0.6rem;
        border-bottom-left-radius: 0.6rem;
      }

      .funcs {
        width: 45rem;
        min-width: 45rem;
        padding-top: 0.5rem;
        padding-left: 4.5rem;
        padding-right: 5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        .text-container {
          .title {
            font-family: "NanumBarunGothic";
            font-size: 2.2rem;
            font-weight: 800;
            margin-bottom: 1.2rem;
            color: #3f3c4e;
            transition: 0.2s ease-in-out;
            opacity: 0.25;
          }
          .subtitle {
            font-family: "NanumBarunGothic";
            font-size: 1.5rem;
            line-height: 2.5rem;
            margin-bottom: 2.5rem;
            color: #606060;
            transition: 0.2s ease-in-out;
            opacity: 0.25;
          }

          .active {
            opacity: 1;
          }
        }

        .btn-container {
          button {
            width: 6rem;
            height: 5.6rem;
            margin: 0rem;
            margin-right: 1rem;
            border-radius: 0.3rem;
            font-size: 1rem;

            color: $color-font-sub;
            background: #eeeeee;
            border: 1px solid $color-border-landing;
            opacity: 0.8;
            transition: 0.2s;

            * {
              color: $color-font-sub;
              font-size: 2rem;
              margin-bottom: 0.1rem;
            }

            &:hover {
              background: $color-border-landing;
              color: $color-font-main;
              opacity: 1;
              * {
                color: $color-font-main;
              }
            }

            &[class*="target"] {
              background: $color-border-landing;
              color: $color-font-main;
              opacity: 1;
              * {
                color: $color-font-main;
              }
            }
          }
        }
      }

      .img-container {
        display: flex;
        justify-content: flex-start;
        margin-left: -3rem;
        transition: 0.2s ease-in-out;
        opacity: 0.25;

        &[class*="view"] {
          opacity: 1;
        }

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }

  #section-sub-1 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;

    .container {
      display: flex;
      flex-direction: column;
      max-width: 40rem;
      height: 100%;
      justify-content: center;
      margin-left: 8rem;

      .label {
        width: auto;
        height: auto;
        span {
          background: #ece9ff;
          text-align: center;
          border-radius: 5rem;
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 1.2rem;
          padding-bottom: 0.9rem;

          color: #725fd8;
          font-size: 1.4rem;
          font-family: "NanumBarunGothic";
          font-weight: 800;
          letter-spacing: 0.05rem;
        }
        margin-bottom: 1.5rem;
      }

      .title {
        font-size: 4.3rem;
        font-weight: 800;
        letter-spacing: 0.2rem;
        line-height: 6.5rem;
        font-family: "NanumBarunGothic";
        color: #3f3c4e;

        margin-bottom: 2.5rem;
      }
      .subtitle {
        font-size: 1.8rem;
        font-family: NanumSquareRound;
        letter-spacing: 0.05rem;
        line-height: 3rem;
        color: #8ca0b7;
      }

      b {
        font-size: 1.8rem;
        font-family: NanumSquareRound;
        letter-spacing: 0.05rem;
        line-height: 3rem;
        color: #3f3c4e;
        background: $color-border-landing;
        opacity: 0.9;

        padding: 0.5rem;
        padding-top: 0.3rem;
        padding-bottom: 0.2rem;
        border-radius: 0.3rem;
        transition: 0s;

        cursor: pointer;

        &:hover {
          background: $color-item-container-hover;
          color: $color-item-button;
        }

        &[class*="target"] {
          background: $color-item-container-hover;
          color: $color-item-button;
        }
      }
    }
    .container2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 70rem;
      padding: 0.4rem;
      width: 100%;
      min-width: 50rem;
      border-radius: 1rem;
      background: #ececec;
      z-index: 1;

      img {
        width: 100%;
        height: auto;
        border-radius: 0.8rem;
        border: 1px solid $color-border;
      }
    }
  }
}
@media (max-width: 768px,) {
  // * MOBILE: max-width: 768px;
  #container-mainpage > #section3 {
    flex-direction: column;
    height: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;

    #section-sub-1 {
      height: auto;
      flex-direction: column;
      padding: 0rem;

      justify-content: flex-start;

      .container {
        padding: 0rem !important;
        margin: 0rem !important;
        height: auto;
        text-align: center;

        .title {
          font-size: 2.8rem;
          line-height: 4.2rem;
          margin-bottom: 1.5rem;
        }

        .subtitle {
          font-size: 1.6rem;
          line-height: 2.6rem;
        }
      }

      .container2 {
        display: none;
        height: 5rem;
        max-width: 98vw;
        min-width: 98vw;
        width: 98vw;
        margin: 0rem;
        margin-top: 3rem;

        img {
          margin: 0rem;
        }
      }
    }
  }

  #section-sub-2 {
    width: 100% !important;
    .container3 {
      height: auto !important;
      flex-direction: column;

      .tab {
        order: 0;
        writing-mode: horizontal-tb !important;
        justify-content: center !important;
        width: 100% !important;
        height: 4rem !important;

        padding-bottom: 1rem;

        border-top-left-radius: 0.5rem !important;
        border-top-right-radius: 0.5rem !important;
        border-bottom-left-radius: 0rem !important;

        font-size: 1.4rem !important;
      }
      .funcs {
        order: 2;
        width: 100% !important;
        min-width: 100% !important;
        height: auto !important;
        padding: 0rem !important;

        .text-container {
          .title {
            display: flex;
            font-size: 1.8rem !important;
            justify-content: center;
            margin-bottom: 1rem !important;
            padding-left: 0.6rem !important;
            padding-right: 0.6rem !important;
          }

          .subtitle {
            font-size: 1.3rem !important;
            justify-content: center;
            text-align: center !important;
            padding-left: 0.6rem !important;
            padding-right: 0.6rem !important;
          }
        }

        .btn-container {
          display: flex;
          width: 100% !important;
          flex-wrap: wrap;
          justify-content: space-evenly;
          border-bottom-left-radius: 0.6rem !important;
          border-bottom-right-radius: 0.6rem !important;

          button {
            flex: 1;
            margin: 0rem !important;
            padding: 0rem !important;
            padding-top: 0.4rem !important;

            border-radius: 0rem !important;
            border: none !important;
            border-right: 1px solid $color-border !important;
            border-top: 1px solid $color-border !important;
          }

          :last-child {
            border-right: none !important;
          }
        }
      }
      .img-container {
        order: 1;
        justify-content: flex-end !important;
        margin-bottom: 1.8rem;
        border-bottom: 1px solid $color-border;
        img {
          margin-right: -5rem;
          height: 15rem !important;
          margin-bottom: 0.1rem;
        }
      }
    }
  }
}

// TODO: FOOTER

#container-mainpage > #Footer {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: #f8fcff;

  width: 100%;
  // height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 12rem;
    padding-bottom: 20rem;

    .title {
      font-size: 4rem;
      font-weight: 700;
      color: #3f3c4e;
      font-family: "NanumBarunGothic";
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .subtitle {
      font-size: 1.8rem;
      font-weight: 500;
      color: #8ca0b7;
      font-family: "NanumSquareRound";
      text-align: center;
      margin-bottom: 5rem;
    }

    .landing4-button-container {
      display: flex;
      position: relative;
      align-items: center;
      width: 100%;
      max-width: 65rem;
      border-radius: 5rem;

      input {
        font-family: "NanumBarunGothic";
        font-size: $font-size-H4;
        color: $color-button;

        width: 100%;
        height: 5.5rem;
        border: 2px solid rgb(161, 118, 255);
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;

        margin-right: 15rem;
        padding-left: 3rem;
        padding-right: 3rem;
        background: $color-background;
        outline: none;
        z-index: 3;

        transition: 0.1s;
      }

      button {
        font-family: "NanumBarunGothic";
        margin: 0rem;
        position: absolute;
        right: 0%;
        height: 5.5rem;
        width: 15rem;
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;

        background: rgb(161, 118, 255);

        letter-spacing: 0.1rem;
        z-index: 1;
        transition: 0.3s ease;
      }

      button:hover {
        background: rgb(215, 134, 223);
      }
    }
  }

  .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #403a4f;

    padding-top: 2rem;
    padding-bottom: 2rem;

    .title {
      padding-left: 20rem;
      display: flex;
      align-items: center;
      word-break: keep-all;

      .logo {
        font-family: "Questrial";
        font-size: 2.3rem;
        letter-spacing: 0.2rem;
        font-weight: 600;

        background: linear-gradient(
          39deg,
          rgba(70, 101, 217, 1) 9%,
          rgba(161, 118, 253, 1) 88%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .content {
        margin-left: 1.5rem;
        font-family: "NanumBarunGothic";
        font-size: 1.4rem;
        color: #948c9c;
      }
    }

    .crews {
      display: flex;
      flex-wrap: wrap;
      margin-left: 5rem;
      padding-right: 20rem;
      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 2.5rem;
        span {
          margin-left: 0.6rem;
          font-family: "NanumSquareRound";
          font-size: 1.6rem;
          color: #948c9c;
          font-weight: 800;

          transition: 0.2s;
        }

        img {
          border-radius: 0.2rem;
          border: 2px solid $color-font-editor-tab;
          width: 2.5rem;
          opacity: 0.9;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }
}

@media (max-width: 768px,) {
  #Footer {
    .container {
      width: 90vw;
      padding-top: 10rem !important;
      padding-bottom: 15rem !important;
      .title {
        font-size: 3rem !important;
        text-align: center;
        line-height: 4.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .subtitle {
        font-size: 1.6rem !important;
        line-height: 2.6rem;
        padding-left: 3rem;
        padding-right: 3rem;
      }

      .landing4-button-container {
        border-radius: 0.6rem !important;
        input {
          height: 5rem !important;
          margin-right: 10rem !important;
          font-size: $font-size-H4;
        }

        button {
          height: 5rem !important;
          width: 10rem !important;
          font-size: $font-size-H4;
        }
      }
    }

    .container2 {
      justify-content: space-between !important;
      padding-top: 1.7rem !important;
      padding-bottom: 1.5rem !important;

      .title {
        flex-direction: column;
        padding-left: 2rem !important;
        align-items: flex-start !important;

        .logo {
          font-size: 1.8rem !important;
          letter-spacing: 0.15rem !important;
        }

        .content {
          margin-left: 0rem !important;
          margin-top: 0.3rem;
          font-size: 1rem !important;
          line-height: 1.5rem;
        }
      }

      .crews {
        margin-left: 2rem !important;
        padding-right: 0rem !important;
        div {
          flex: 1 0 25% !important;
          margin-right: 1.8rem !important;
          margin-top: 0.5rem;

          span {
            margin-left: 0.4rem !important;
            font-size: 1.2rem !important;
            width: 0rem;
          }

          img {
            width: 2.2rem !important;
          }
        }
      }
    }
  }
}
