#modal-background {
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100000;

  justify-content: center;
  align-items: center;
  background-color: #091118;
  opacity: 0.98;

  #modal-header {
    font-size: 6rem;
    font-weight: 700;
    color: white;
  }

  #modal-container {
    // width: 50rem;
    height: 60rem;

    background-color: white;
    border-radius: 0.5rem;

    #modal-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      // width: 50rem;
      height: 100%;
      font-size: 2rem;
      padding: 4rem;

      * {
        display: block;
      }

      input {
        width: 40rem;
        height: 3.5rem;
      }

      button {
        width: 40rem;
        font-size: 2rem;
        height: 4rem;
      }

      div {
        margin-bottom: 1.5rem;
      }

      .preview-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0rem;

        // background-color: lawngreen;

        .preview-item {
          background-color: khaki;
          width: 40rem;
          height: 40rem;
          margin: 2rem;
        }
      }
    }
  }
  transition: 0.3s;
}

.active {
  display: flex;
}

.deactive {
  display: none;
}

@media (max-width: 768px,) {
  // * MOBILE: max-width: 768px;
  #modal-header {
    font-size: 4rem !important;
    font-weight: 700;
    color: white;
  }

  #modal-container {
    height: 70vh !important;

    #modal-section {
      width: 95vw !important;
      * {
        width: 100% !important;
      }
    }

    overflow-y: auto;

    .preview-container {
      display: block !important;
      flex-direction: column !important;
      justify-content: center;
      align-items: center;

      .preview-item {
        background-color: khaki;
        width: 90vw !important;
        height: 90vw !important;
        margin: auto !important;
        margin-bottom: 5rem !important;
        padding: 0 !important;
      }
    }
  }
}
