@import "./_varaiables.scss";

#modal-background {
  position: absolute;
  flex-direction: column;
  top: -20vh;
  left: -20vw;
  width: 140vw;
  height: 140vh;
  z-index: 10000;

  justify-content: center;
  align-items: center;
  background-color: rgba(9, 17, 24, 0.95);

  #modal-header {
    font-size: 6rem;
    font-weight: 700;
    color: white;
  }

  #modal-container {
    height: 60rem;

    background: $color-background;
    opacity: 1;
    border-radius: 0.5rem;

    #modal-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: 100%;
      font-size: 2rem;
      padding: 4rem;

      * {
        display: block;
      }

      input {
        width: 40rem;
        // height: 3.5rem;
      }

      button {
        width: 100%;
      }

      div {
        margin-bottom: 1.5rem;
      }

      .btn-login {
        color: gray;
      }

      .preview-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0rem;

        .preview-item {
          background-color: khaki;
          width: 40rem;
          height: 40rem;
          margin: 2rem;
        }

        #WebPage {
          background-image: url("../images/preview/web-sample1.png");
          background-size: cover;
        }

        #FaceBook {
          background-image: url("../images/preview/facebook1.png");
          background-size: cover;
        }

        #Bcard {
          background-image: url("../images/preview/card2.png");
          background-size: cover;
        }

        #web-page1 {
          width: 120px;
          height: 120px;
          position: relative;
          left: 33%;
          top: 25%;
        }

        #face-book1 {
          transform: rotateX(24deg) rotateZ(-17deg);
          width: 73.5px;
          height: 73.5px;
          position: relative;
          left: 39.5%;
          top: 36.8%;
        }

        #b-card1 {
          transform: rotateX(47deg) rotateZ(-39deg);
          width: 100px;
          height: 100px;
          position: relative;
          left: 23%;
          top: 20.5%;
        }
        #b-card2 {
          transform: rotateX(46deg) rotateZ(-39.5deg);
          width: 70px;
          height: 70px;
          position: relative;
          left: 38%;
          top: 30%;
        }
      }
    }
  }
  transition: 0.5s linear;
}

.active {
  display: flex;
}

.deactive {
  display: flex;
  z-index: -10 !important;
  opacity: 0 !important;
  transition: 0s !important;
}

@media (max-width: 768px,) {
  // * MOBILE: max-width: 768px;
  #modal-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #modal-header {
    font-size: 4rem !important;
    font-weight: 700;
    color: white;
  }

  #modal-container {
    height: 70vh !important;

    #modal-section {
      width: 95vw !important;
      * {
        width: 100% !important;
      }
    }

    overflow-y: auto;

    .preview-container {
      display: block !important;
      flex-direction: column !important;
      justify-content: center;
      align-items: center;

      .preview-item {
        background-color: khaki;
        width: 90vw !important;
        height: 90vw !important;
        margin: auto !important;
        margin-bottom: 5rem !important;
        padding: 0 !important;
      }

      #WebPage {
        background-image: url("../images/preview/web-sample1.png") !important;
        background-size: cover !important;
        background-position: center !important;
      }

      #FaceBook {
        background-image: url("../images/preview/facebook1.png") !important;
        background-size: cover !important;
        background-position: center !important;
      }

      #Bcard {
        background-image: url("../images/preview/card2.png") !important;
        background-size: cover !important;
        background-position: center !important;
      }

      #web-page1 {
        width: 30vw !important;
        height: 30vw !important;
        position: relative;
        left: 35% !important;
      }

      #face-book1 {
        width: 17vw !important;
        height: 17vw !important;
        position: relative;
        left: 38% !important;
        top: 36.9% !important;
      }

      #b-card1 {
        width: 20vw !important;
        height: 20vw !important;
        position: relative;
        left: 23% !important;
        top: 21.5% !important;
      }

      #b-card2 {
        width: 15vw !important;
        height: 15vw !important;
        position: relative;
        left: 39% !important;
        top: 33.5% !important;
      }
    }
  }
}
